In [89]:
import pandas as pd
df = pd.read_csv('archive/water_potability.csv')
df

            ph    Hardness  ...  Turbidity  Potability
0          NaN  204.890455  ...   2.963135           0
1     3.716080  129.422921  ...   4.500656           0
2     8.099124  224.236259  ...   3.055934           0
3     8.316766  214.373394  ...   4.628771           0
4     9.092223  181.101509  ...   4.075075           0
...        ...         ...  ...        ...         ...
3271  4.668102  193.681735  ...   4.435821           1
3272  7.808856  193.553212  ...   2.798243           1
3273  9.419510  175.762646  ...   3.298875           1
3274  5.126763  230.603758  ...   4.708658           1
3275  7.874671  195.102299  ...   2.309149           1

[3276 rows x 10 columns]

In [90]:
# Kiểm tra giá trị bị thiếu
missing_values = df.isnull().sum()
missing_values

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

In [91]:
# Điền giá trị bị thiếu bằng giá trị trung bình của cột
df['Sulfate'].fillna(df['Sulfate'].mean(), inplace=True)
df['Trihalomethanes'].fillna(df['Trihalomethanes'].mean(), inplace=True)
df['ph'].fillna(df['ph'].mean(), inplace=True)
missing_values = df.isnull().sum()
missing_values

ph                 0
Hardness           0
Solids             0
Chloramines        0
Sulfate            0
Conductivity       0
Organic_carbon     0
Trihalomethanes    0
Turbidity          0
Potability         0
dtype: int64

In [92]:
# Chuẩn hóa Min-Max để đưa dữ liệu về khoảng [0, 1]
data_normalized = (df - df.min()) / (df.max() - df.min())
data_normalized

            ph  Hardness    Solids  ...  Trihalomethanes  Turbidity  Potability
0     0.505771  0.571139  0.336096  ...         0.699753   0.286091         0.0
1     0.265434  0.297400  0.300611  ...         0.450999   0.576793         0.0
2     0.578509  0.641311  0.321619  ...         0.532866   0.303637         0.0
3     0.594055  0.605536  0.356244  ...         0.808065   0.601015         0.0
4     0.649445  0.484851  0.289922  ...         0.253606   0.496327         0.0
...        ...       ...       ...  ...              ...        ...         ...
3271  0.333436  0.530482  0.775947  ...         0.535037   0.564534         1.0
3272  0.557775  0.530016  0.279263  ...         0.532673   0.254915         1.0
3273  0.672822  0.465486  0.539101  ...         0.560655   0.349570         1.0
3274  0.366197  0.664407  0.191490  ...         0.622659   0.616120         1.0
3275  0.562477  0.535635  0.280484  ...         0.632478   0.162441         1.0

[3276 rows x 10 columns]

In [93]:
#VD về Data transformation
# Dữ liệu gốc
data = pd.DataFrame({"gender": ["nam", "nữ", "nam", "nữ", "nam", "nữ", "nam"]})

# Sử dụng hàm get_dummies của Pandas để mã hóa 'gender' thành các cột nhị phân 'gender_nữ' và 'gender_nam'
# Bên cạnh đó ta truyền vào tham số 'drop_first=True' để chỉ giữ lại một trong hai cột nhị phân để tránh hiện tượng đa cộng tuyến.
data_encoded = pd.get_dummies(data, columns=["gender"], drop_first=True)
data_encoded

   gender_nữ
0          0
1          1
2          0
3          1
4          0
5          1
6          0